@model RecipeWeb.Data.User

<div class="text-center">
    <a href="/Users/Profile">
        <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; display: inline-block;">
            <img src="@Model.Avatar" alt="Profile picture" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
    </a>
</div>
