@model RecipeWeb.Data.User
<head>
    <link rel="stylesheet" href="~/Components/AvatarComment.css" asp-append-version="true" />
</head>

<div class="text-center">
    <a>
        <div class="avatar-container-comment">
            <img src="@Model.Avatar" alt="Profile picture">
        </div>
    </a>
 
</div>


